<!DOCTYPE html>
<html>
<head>
  <title>LastfmRails</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag   'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="grid-3">
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c0.5.160.160/p160x160/10568979_10203396082000109_7387986201210665867_n.jpg?oh=f0ca82e80d7475696d25fe896c8f8e85&oe=54D5CCFA&__gda__=1424155724_89f7a5a2d95ff0aba60ffeddffcd1b42">
          <ul class="bio">
            <li>
              <i class="fa fa-user"></i> 24, Female, United States
            </li>
            <li>
              <i class="fa fa-music"></i> <strong>126071</strong> total plays
            </li>
            <li>
              <i class="fa fa-clock-o"></i> scrobbling since Jan 2010
            </li>
            <li>
              <a href="#" rel="me"><i class="fa fa-lastfm"></i> View profile on last.fm</a>
            </li>
          </ul>
        </div>
        <div class="grid-9">
          <h1>Carissa Niederer's been listening to...</h1>
          <p>Better Than Ezra, Death From Above 1979, TV on the Radio, The Dandy Warhols, and Foo Fighters.</p>

          <h2>Most Recent Tracks</h2>
          <ol class="list-zebra">
            <li>
              Clear To Some by Bromheads Jacket
              <span>5 minutes ago</span>
            </li>
            <li>
              Bohemian Like You by The Dandy Warhols
              <span>15 minutes ago</span>
            </li>
            <li>
              Heavy Hands by Alex Clare
              <span>20 minutes ago</span>
            </li>
            <li>
              Sunflowers by Better Than Ezra
              <span>25 minutes ago</span>
            </li>
            <li>
              Trainwreck 1979 by Death From Above 1979
              <span>29 minutes ago</span>
            </li>
          </ol>
        </div>
        

        <%#= yield %>
      </div>
    </div>
  </section>
    </div>
    <div class="grid-9">
      <h1>Carissa Niederer's been listening to...</h1>
      <p>Better Than Ezra, Death From Above 1979, TV on the Radio, The Dandy Warhols, and Foo Fighters.</p>
    </div>
    

    <%#= yield %>
  </div>
</div>
  <footer class="footer">
    &copy; <%= Time.now.year %>. Data by <a href="http://www.last.fm/api">Last.fm</a>, design by <a href="http://www.github.com/niederer" rel="nofollow"><i class="fa fa-github-alt"></i> niederer</a>.
  </footer>

<%= javascript_include_tag 'application' %>

</body>
</html>
